/* Container that holds the image and controls the frame of image visibility */
#image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
/*  Do not leave space for the element  */
  position: absolute;
}

/* Image inside container */
#barn {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}

/* Container that holds the heading content */
#greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
/*  Equal height to the container it's positioned relative to - this allows you to center the element vertically */
  height: 400px;
/*  Position the greeting relative to the image wrapper - in other words, over it */
  position: relative;
}

/* H2 Styles */
#greeting h2 {
  font-family: 'Neuton', serif;
  color: #fff;
  font-weight: lighter;
  letter-spacing: .6px;
  font-size: 5em;
}



@import url('https://fonts.googleapis.com/css?family=Neuton');

#cover-photo {}

body {
  font-family: 'Neuton', serif;
}

h1 {
    font-family: 'Neuton', serif;
    font-size: 3em;
}

h2 {
font-family: 'Neuton', serif;
font-size: 2em;
}

h4 {
    font-family: 'Neuton', serif;
    color: darkslategray;
    font-size: 1.6em;
}


#aboutme {
    width: 10%; 
}

port {
    flex: column; 
    width: 300%;
    margin: 16m; 
}

figure img {
    width: 200px;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure img:hover {
	-webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(100%) blur(1px);
}

li {
    list-style: none;
}

label,
input {
  display: block;
  width: auto;
  margin: 1em; 
}

input[type=submit] {
    border: 0;
}

}
#center {
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}


#logo, nav {
    height:130px;
    margin: 0 auto;
    justify-content: center;
    display: flex; 
}

nav ul {
    display: flex;
}
.nav ul {
    float: left;
}
nav a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #3e6264;
    border-bottom: 1px solid #eee;
    transition: all ease .5s;
}
nav a:hover {
    opacity: .5;
    transition: all ease .5s;
}
.nav > ul:hover a {
    opacity: 1;
    color: #777777;
    border-color: #263f40;
}

figure {
    background: none;
    border-radius: 5px;
    color: grey;
    padding: 1em;
    width: 200px;
}
main {
    display: flex;
    flex-wrap: wrap;
}

/* Media Queries */

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) {
    /* Diagnostic Styling. Delete When Done. */
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em) {
    /* Diagnostic Styling. Delete When Done. */
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) {
    /* Diagnostic Styling. Delete When Done. */
}